:root {
    --background-color: rgb(26, 28, 32);
    --text-color: hsl(210, 19%, 94%);
    --secondary-color: rgb(140, 144, 161);
    --cell-color: rgb(140, 144, 161);
    
    --wall-color: 231, 3%, 49%;
    --target-color: 0, 60%, 47%;
    --root-color: 195, 100%, 44%;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.25rem;
    font-family: sans-serif;
    padding: 2vh 2vw;
}

@media (min-width: 1150px) {
    body {
        flex-direction: row;
        align-items: start;
        gap: 1rem;
    }
}

#grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;

    border: 1px solid var(--secondary-color);
    /* I thought about setting .row:nth-last-of-type, but because the rows are inserted via js
    after the css is loaded, it has not effect. */
    border-bottom: 2px solid var(--secondary-color);
}

.row {
    display: flex;
    border-top: 1px solid var(--secondary-color);
    border-left: 1px solid var(--secondary-color);
}

.cell {
    height: 4vh;
    aspect-ratio: 1;
    font-size: 0;
    color: var(--cell-color);
    border-right: 1px solid var(--secondary-color);
}

.wall {
    background-color: hsl(var(--wall-color));
}

.target {
    background-color: hsl(var(--target-color));
}

.root {
    background-color: hsl(var(--root-color));
}

.visited {
    background-color: rgb(160, 200, 245);
}

.wall-hover {
    /* I use a box-shadow instead of the border to avoid moving the grid. */
    box-shadow: inset 0px 0px 0px 3px hsla(var(--wall-color), .8);
}

.target-hover {
    box-shadow: inset 0px 0px 0px 3px hsla(var(--target-color), .8);
}

.root-hover {
    box-shadow: inset 0px 0px 0px 3px hsla(var(--root-color), .8);
}

.target-found {
    animation: pulse 1s ease-in-out 1;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
}

.rubber-hover {
    opacity: .5;
}


/*
 *
 * Buttons
 */

#btns-container {
    background-color: whitesmoke;
    margin-top: .5em;
    padding: .5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    gap: .25em;
    flex-wrap: wrap;
}

@media (min-width: 500px) {
    #btns-container {
        font-size: 1.2rem;
    }
}

.controls-btn {
    padding: .25em .5em;
    border-radius: 8px;
    border: 2px solid #ababab;
    transition: all 0.035s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    
    /* I set the margin on each individual button instead of setting it to the container,
    because when the screen shrinks and they move on a new line, they mantein the distance from the row above. */
    margin-block: .5rem;
    
    --bkg-color: 0, 0%, 50%;
    color: var(--text-color);
    background-color: hsl(var(--bkg-color));
}

.controls-btn:not(:disabled):hover {
    border-color: #999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.controls-btn:not(:disabled):active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
}

.controls-btn:focus {
    border-color: darkred;

    /* For some reason, this hasn't the effect I expect. */
    /* border-color: hsla(var(--bkg-color), .2); */
}

.separator {
    background-color: rgb(66, 66, 66);
    width: 5px;
    display: inline-block;
    aspect-ratio: 1;
    border-radius: 100%;
    margin-inline: .25em;
}

#clear-btn {
    --bkg-color: 210, 19%, 94%;
    color: var(--background-color);
}

#rubber-btn {
    --bkg-color: 229, 62%, 35%;
}

#draw-walls-btn {
    --bkg-color: var(--wall-color);
}

#select-targets-btn {
    --bkg-color: var(--target-color);
}

#select-root-btn {
    --bkg-color: var(--root-color);
}

#run-btn {
    --bkg-color: 120, 100%, 25%;
}

#stop-btn {
    background-color: rgb(163, 11, 11);
}


/*
  Controls */

#controls .result {
    font-weight: bold;
}

#step-pause {
    max-width: 12ch;
    background-color: var(--background-color);
    color: var(--text-color);
}

#err-msg {
    color: rgb(150, 19, 19);
    font-weight: bold;
}

/*
 *
 * Miscellaneous
 */

button {
    cursor: pointer;
}

button:disabled {
    opacity: .5;
}

button, input {
    font: inherit;
}

input, fieldset {
    border-radius: 7px;
    padding: .25em .5em;
}



